body {background-color:#FFD700;
}

h1 {font-family: Georgia, serif; }
h3 {font-family: Arial, Helvetica, sans-serif; font-variant: small-caps;}

#container {background-color:lightgrey;
            margin:0 auto;
            padding:20px;
            width:900px;
            border: 1px solid black;
}

#header{ background-color: green;
         color:white;
         padding:10px;
         margin:0 auto;
         width:642px;
         height:150px;
         float:left;
         border-top:1px solid black;
         border-left:1px solid black;
         border-bottom:1px solid black;
         text-align:center;
}

#right_header {background-color: blue;
               padding: 10px;
               margin:auto;
               float:left;
               height:150px;
               border-top:1px solid black;
               border-right:1px solid black;
               border-bottom:1px solid black;
    width: 210px;
}

#main {background-color:white;
       color:black;
       padding:10px;
       margin:0 auto;
       border-left:1px solid black;
       border-right:1px solid black;
}

#footer {background-color: red;
         color:white;
         padding:10px;
         margin:0 auto;
         border:1px solid black;
         text-align: center;
         font-family: Arial, Helvetica, sans-serif;
         font-variant: small-caps;
}

#nav {width:898px;
      float:left;
      margin:0 0 3em 0;
      padding: 0;
      list-style:none;
      background-color:#f2f2f2;
      border: 1px solid black;
}

#nav li {
    float: left;
}

#nav li a {
    display:block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right:1px solid #ccc;
}

#nav li a:hover {
    color:#c00;
    background-color:#fff;
}
#img_center {margin:0 auto;

}